{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static %}

{% block head %}{{ form.media }}{% endblock %}

{% block pagetitle %} {{operation}} {{class}}{% endblock %}
{% block pageheader %}
	<h1>{{operation}} {{class}} "{{pista.nombre}}"</h1>
{% endblock %}
{% block pagebody %}
<div class="col-md-2 col-sm-12 col-xs-12"></div>
	<div class="col-md-8 col-sm-12 col-xs-12">
	<form id='form' enctype="multipart/form-data" method='post' action=''>{% csrf_token %}
		{% bootstrap_form form %}

		<b>Horario</b>
		{% for horario in horarios %}
			<div class="radio">
			  <label>
			    <input type="radio" name="horario" id="{{horario.id}}" value="{{horario.id}}" required>
			    {{horario.nombre}}
			  </label>
			</div>
		{% endfor %}

		{% buttons %}
		<button type="submit" class="btn btn-primary">
		{% bootstrap_icon "ok" %} Enviar
		</button>
		<a href="{% url 'viewPista' pista.id %}" class="btn btn-danger" role="button">
        {% bootstrap_icon "chevron-left" %} Cancelar</a>
		{% endbuttons %}
	</form>
	</div>
<div class="col-md-2 col-sm-12 col-xs-12"></div>

{% endblock %}