{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static %}
{% load bootstrap_dynamic_formsets %}
{% block pagetitle %} {{operation}} {{class}}{% endblock %}
{% block pageheader %}
	<h1>{{operation}} {{class}}</h1>
{% endblock %}
{% block pagebody %}
<div class="col-md-2 col-sm-12 col-xs-12"></div>
	<div class="col-md-8 col-sm-12 col-xs-12">
	<form id='form' enctype="multipart/form-data" method='post' action=''>{% csrf_token %}
		{% bootstrap_form form %}

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Añadir franjas horarias</h3>
          </div>
          <div class="panel-body">
            {% bootstrap_dynamic_formset formFranjas can_delete=True layout="horizontal" %}
          </div>
        </div>



		{% buttons %}
		<button type="submit" class="btn btn-primary">
		{% bootstrap_icon "ok" %} Enviar
		</button>
		<button class="btn btn-danger" onClick="window.history.back();return false;">
		{% bootstrap_icon "chevron-left" %} Cancelar
		</button>
		{% endbuttons %}
	</form>
	</div>
<div class="col-md-2 col-sm-12 col-xs-12"></div>
{% endblock %}