{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static %}
{% load bootstrap_dynamic_formsets %}

{% block head %}{{ form.media }}{% endblock %}

{% block pagetitle %} {{operation}} {{class}}{% endblock %}
{% block pageheader %}
	<h1>{{operation}} {{class}} "{{horario.nombre}}"</h1>
{% endblock %}
{% block pagebody %}

	<form id='form' enctype="multipart/form-data" method='post' action=''>{% csrf_token %}


        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Seleccione los días a asignar</h3>
          </div>
          <div class="panel-body">
            {% bootstrap_dynamic_formset form can_delete=True layout="horizontal" %}
          </div>
        </div>



		{% buttons %}
		<button type="submit" class="btn btn-primary">
		{% bootstrap_icon "ok" %} Enviar
		</button>
		<button class="btn btn-danger" onClick="window.history.back();return false;">
		{% bootstrap_icon "chevron-left" %} Cancelar
		</button>
		{% endbuttons %}
	</form>

{% endblock %}