{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static %}

{% block head %}{{ form.media }}{% endblock %}

{% block pagetitle %} {{operation}} {{class}}{% endblock %}
{% block pageheader %}
	<h1>{{operation}} {{class}} "{{pista.nombre}}"</h1>
{% endblock %}
{% block pagebody %}

	<form id='form' enctype="multipart/form-data" method='post' action=''>{% csrf_token %}
		{% bootstrap_form form %}

		{% for horario in horarios %}
			<div class="radio">
			  <label>
			    <input type="radio" name="horario" id="{{horario.id}}" value="{{horario.id}}" required>
			    {{horario.nombre}}
			  </label>
			</div>
		{% endfor %}

		{% buttons %}
		<button type="submit" class="btn btn-primary">
		{% bootstrap_icon "ok" %} Enviar
		</button>
		<button class="btn btn-danger" onClick="window.history.back();return false;">
		{% bootstrap_icon "chevron-left" %} Cancelar
		</button>
		{% endbuttons %}
	</form>

{% endblock %}