{% extends "base.html" %}
{% load static %} 
{% load bootstrap3 %}



{% block pagetitle %} Login {% endblock %}
{% block pageheaderprop %} hidden-xs {% endblock %}
{% block pageheader %}
	<h1>Bienvenido a easyPadel!</h1>
{% endblock %}

{% block pagebody %}

	    <form id='form' method='post' action=''>
			{% csrf_token %}
			{% bootstrap_form form %}
			<p class="message">¿No estás registrado? <a href="/jugador/registration">Créate una cuenta aquí!</a></p>
			{% buttons %}
			<button type="submit" class="btn btn-primary">
			{% bootstrap_icon "log-in" %}
			Login
			</button>
			{% endbuttons %}
		</form>

{% endblock %}
