{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static %}
{% load propuestatools %}
{% load thumbnail %}
{% block pagetitle %} Propuestas {% endblock %} 
{% block pageheader %}

{% if creador %}
	<h1>Mis Propuestas</h1>
{% else %}
	<h1>Propuestas</h1>
{% endif %}
 {% endblock %} 

{% block pagebody %}

<div class="row">
  <div class="[ col-xs-12 col-sm-offset-2 col-sm-8 ]">
  	<ul class="event-list">

{% for propuesta in list %}

	<li>{% propuestaview propuesta request.user %}</li>

{% endfor %}

	</ul>
  </div>
</div>

<button class="btn btn-danger" onClick="window.history.back();return false;">
		{% bootstrap_icon "chevron-left" %} Volver
		</button>

{% endblock %} 