{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static %}
{% load thumbnail %}
{% block pagetitle %} Empresas {% endblock %} 
{% block pageheader %}
<h1>Empresas</h1> {% endblock %} 
{% block pagebody %}

{% for empresa in list %}
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="media">
				<div class="media-left">
					<a href="{% url 'viewPerfil' empresa.user.username %}">
								<img class="media-object img-rounded" src="{%thumbnail empresa.foto_perfil|default:'no-image.png' 48x48 crop %}" alt="{{empresa.nombre}}">
							</a>
				</div>


				<div class="media-body">
					<h4 class="media-heading"><a href="{% url 'viewPerfil' empresa.user.username %}">{{empresa.nombre}}</a></h4>
				</div>
			</div>
		</div>
	</div>
{% endfor %}


{% endblock %} 