{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static %}
{% load thumbnail %}
{% block pagetitle %} Pistas {% endblock %} 
{% block pageheader %}

{% if propietario %}
	<h1>Mis Pistas</h1>
{% else %}
	<h1>Pistas</h1>
{% endif %}
 {% endblock %} 

{% block pagebody %}

{% for pista in list %}
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="media">
				<div class="media-left">
					<a href="{% url 'viewPista' pista.id %}">
								<img class="media-object img-rounded" src="{%thumbnail pista.foto|default:'no-image.png' 48x48 crop %}" alt="{{pista.name}}">
							</a>
				</div>


				<div class="media-body">
					<h4 class="media-heading"><a href="{% url 'viewPista' pista.id %}">{{pista.nombre}}</a></h4>
				</div>
			</div>
		</div>
	</div>
{% endfor %}

{% if propietario %}
<p><a class="btn btn-success btn-lg" href="{% url 'createPista' %}" role="button">{% bootstrap_icon "plus" %} Añadir pista</a></p>
{% endif %}
<button class="btn btn-danger" onClick="window.history.back();return false;">
		{% bootstrap_icon "chevron-left" %} Volver
		</button>

{% endblock %} 