{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static %}
{% load valoraciontools %}
{% load thumbnail %}
{% block pagetitle %} Pistas {% endblock %} 
{% block pageheader %}

{% if propietario %}
	<h1>Mis Pistas</h1>
{% else %}
	<h1>Pistas</h1>
{% endif %}
 {% endblock %} 

{% block pagebody %}

<div class="row">
{% for pista in list %}

<div class="col-md-3 m-b-lg">
	<div class="panel panel-default">
		<div class="panel-heading" style="padding: 0px; border:0px;" >


			<a href="{% url 'viewPista' pista.id %}">
						<img class="media-object " src="{%thumbnail pista.foto|default:'no-image.png' 261x200 crop %}" alt="{{pista.name}}">
			</a>


		</div>
		<div class="panel-body text-center">

			<h4 class="media-heading"><a href="{% url 'viewPista' pista.id %}">{{pista.nombre}}</a></h4>
			{% if pista.valoracion_total %}
				{% numeroEstrellas pista as num_estrellas %}
				{% numeroEstrellasVacias pista as num_estrellas_vacias %}
				{% for i in num_estrellas %}
					{% bootstrap_icon "star" %}
				{% endfor %}
				{% for i in num_estrellas_vacias %}
					{% bootstrap_icon "star-empty" %}
				{% endfor %}
			{% else %}	 
				<span>?</span> {% bootstrap_icon "star" %}
			{% endif %}

		</div>
	</div>
</div>
{% endfor %}
</div>

{% if propietario %}
<p><a class="btn btn-success btn-lg" href="{% url 'createPista' %}" role="button">{% bootstrap_icon "plus" %} Añadir pista</a></p>
{% endif %}
<button class="btn btn-danger" onClick="window.history.back();return false;">
		{% bootstrap_icon "chevron-left" %} Volver
		</button>

{% endblock %} 