{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static %}

{% block pagetitle %} Registro {{role}} {% endblock %}
{% block pageheader %}
	<h1>Registro {{role}}</h1>
{% endblock %}
{% block pagebody %}
	<form id='form' method='post' action=''>{% csrf_token %}
		{% bootstrap_form form %}

		{% if formJugador %}
		{% bootstrap_form formJugador %}
		{% endif %}

		{% buttons %}
		<button type="submit" class="btn btn-primary">
		{% bootstrap_icon "pencil" %} Registrarse
		</button>
		<button class="btn btn-danger" onClick="window.history.back();return false;">
		{% bootstrap_icon "chevron-left" %} Cancelar
		</button>
		{% endbuttons %}

	</form>
{% endblock %}