{% extends "base.html" %}
{% load static %} 
{% load bootstrap3 %}
{% load groups %}



{% block pagetitle %} Timeline {% endblock %}
{% block pageheaderprop %} hidden-xs {% endblock %}
{% block pageheader %}
	<h1>Login correcto!</h1>
{% endblock %}

{% block pagebody %}

	    <div class="jumbotron">
		  <h1>Gracias por entrar en easyPadel</h1>
		  <p>Su login se ha realizado de manera correcta.</p>

		  {% if request.user|has_group:"Empresas" or request.user|has_group:"Jugadores"%}
                            <a class="btn btn-danger btn-lg" href="#delete-account" data-toggle="modal" data-dismiss="modal">{% bootstrap_icon "remove" %} Borrar cuenta</a>

                            <div class="modal fade" id="delete-account">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title">¿Está seguro?</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p>¿Está seguro de querer borrar su cuenta?</p>
                                        </div>
                                        <div class="modal-footer">
                                           
                                                <a href="{% url 'deleteUser' %}" class="btn btn-danger" >{% bootstrap_icon "remove" %} Borrar cuenta</button></a>
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>


                                                          
           {% endif %}
		</div>

{% endblock %}
