{%load thumbnail %}
{%load bootstrap3%}
{% load humanize %}
{% load groups %}
{% load mathtools %}


<div class="panel panel-default">
<div class="panel-body">
<h3 class="title">
	<a href="{% url 'viewPerfil' valoracion.emisor.username %}"><img class="img-circle" src="{% if valoracion.emisor.empresa%} {%thumbnail valoracion.emisor.empresa.foto_perfil|default:'default_profile.png' 24x24 crop %}{%elif valoracion.emisor.jugador%}{%thumbnail valoracion.emisor.jugador.foto_perfil|default:'default_profile.png' 24x24 crop %}{%else%}{%thumbnail valoracion.emisor.administrador.foto_perfil|default:'default_profile.png' 24x24 crop %}{%endif%}" alt=""> @{{valoracion.emisor.username}}</a>
	
	<small>&bull; {{valoracion.fecha_publicacion|naturaltime}}</small>
</h3>

<div class="row">

	<div class="col-md-6 col-sm-12 col-xs-12">

	{% with valoracion|classname as modelclass %}

	{% if modelclass == "ValoracionEmpresa" %}
		<ul class="list-unstyled">
	      <li><strong>Calidad/precio: </strong> {{ valoracion.calidad_precio }}</li>
	      <div class="progress" style="height:9px; margin:8px 0;">
	        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="4" aria-valuemin="0" aria-valuemax="5" style="width: {% porcentaje valoracion.calidad_precio 5|intword %}%">
	        </div>
	      </div>
	      
	      <li><strong>Personal: </strong> {{ valoracion.personal }}</li>
	      <div class="progress" style="height:9px; margin:8px 0;">
	        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="4" aria-valuemin="0" aria-valuemax="5" style="width: {% porcentaje valoracion.personal 5|intword %}%">
	        </div>
	      </div>

	      <li><strong>Limpieza: </strong> {{ valoracion.limpieza }}</li>
	      <div class="progress" style="height:9px; margin:8px 0;">
	        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="4" aria-valuemin="0" aria-valuemax="5" style="width: {% porcentaje valoracion.limpieza 5|intword %}%">
	        </div>
	      </div>
	    </ul>


	{% elif modelclass == "ValoracionJugador" %}
		<ul class="list-unstyled">
          <li><strong>Nivel juego: </strong> {{ valoracion.nivel_juego }}</li>
          <div class="progress" style="height:9px; margin:8px 0;">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="4" aria-valuemin="0" aria-valuemax="5" style="width: {% porcentaje valoracion.nivel_juego 5|intword %}%">
            </div>
          </div>
          
          <li><strong>Fiabilidad reserva: </strong> {{ valoracion.fiabilidad_reserva }}</li>
          <div class="progress" style="height:9px; margin:8px 0;">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="4" aria-valuemin="0" aria-valuemax="5" style="width: {% porcentaje valoracion.fiabilidad_reserva 5|intword %}%">
            </div>
          </div>

          <li><strong>Sociabilidad: </strong> {{ valoracion.sociabilidad }}</li>
          <div class="progress" style="height:9px; margin:8px 0;">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="4" aria-valuemin="0" aria-valuemax="5" style="width: {% porcentaje valoracion.sociabilidad 5|intword %}%">
            </div>
          </div>
        </ul>
	{% elif modelclass == "ValoracionPista" %}
		<ul class="list-unstyled">
	        <li><strong>Estado: </strong> {{ valoracion.estado }}</li>
	        <div class="progress" style="height:9px; margin:8px 0;">
	          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="4" aria-valuemin="0" aria-valuemax="5" style="width: {% porcentaje valoracion.estado 5|intword %}%">
	          </div>
	        </div>
	        
	        <li><strong>Iluminación: </strong> {{ valoracion.iluminacion }}</li>
	        <div class="progress" style="height:9px; margin:8px 0;">
	          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="4" aria-valuemin="0" aria-valuemax="5" style="width: {% porcentaje valoracion.iluminacion 5|intword %}%">
	          </div>
	        </div>

	      </ul>
	{% endif %}
	{% endwith %}

	</div>

	<div class="col-md-6 col-sm-12 col-xs-12">
	{% if valoracion.opinion and valoracion.opinion != "" %}
		<h4>Opinión:</h4>
		<i class="fa fa-quote-left" aria-hidden="true"></i>... {{valoracion.opinion|urlize}} ...<i class="fa fa-quote-right" aria-hidden="true"></i>
	{% endif %}
	</div>
</div>

</div>
</div>
