{% extends "base.html" %}

{% load staticfiles %}
{% load bootstrap3 %}
{% load thumbnail %}
{% load groups %}
{% load static %}

{% block head %}{{ formFechas.media }}{% endblock %}
{% block pagetitle %} Horario {{pista.nombre}}{% endblock %}
{% block pageheader %}

<h1>Horario {{pista.nombre}}</h1>

{% endblock %}


{% block pagespecial %}
<div class="container sections-wrapper">
  <div class="row">
    <div class="primary col-md-8 col-sm-12 col-xs-12">
      
        
          {% for dia in horario_pista_dias %}
          <table class="table table-bordered custab">
          <thead>
              <tr>
                  <th class="text-center" colspan="3">{{dia.dia}}</th>
              </tr>
              <tr>
                  <th>Hora</th>
                  <th>Precio</th>
                  <th>Disponibilidad</th>
              </tr>
          </thead>
              {% for franjaHoraria in dic_dias_franjas|get_item:dia.id %}
                <tr>
                    <td>{{franjaHoraria.hora_inicio}} - {{franjaHoraria.hora_fin}}</td>
                    <td>{{franjaHoraria.precio}} €</td>
                    <td class="text-center">
                      {% if franjaHoraria.disponible %} 
                        {% if request.user|has_group:"Jugadores" %}
                            <a class="btn btn-primary btn-sm" href="#alquilar-franja-{{franjaHoraria.id}}" data-toggle="modal" data-dismiss="modal"> Alquilar</a>

                            <div class="modal fade" id="alquilar-franja-{{franjaHoraria.id}}">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title">¿Está seguro?</h4>
                                        </div>
                                        <div class="modal-body">
                                            <h5>¿Está seguro de querer alquilar esta pista?</h5>
                                        </div>
                                        <div class="modal-footer">
                                           
                                                <a href="{% url 'alquilarFranja' franjaHoraria.id %}" class="btn btn-primary" >Alquilar </button></a>
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                        {% bootstrap_icon "ok" %} 
                        {% endif %}
                      {% else %} 
                        {% if franjaHoraria.jugador %} @{{franjaHoraria.jugador.user.username}}
                        {% else %}
                        {% bootstrap_icon "remove" %} 
                        {% endif %}
                      {%endif%} </td>
                </tr>
              {% endfor %}
          </table>
          {% endfor %}
    
    </div>

    <div class="secondary col-md-4 col-sm-12 col-xs-12">
      <aside class="section">
        <div class="section-inner">
          <form id='formFechas' enctype="multipart/form-data" method='post' action=''>{% csrf_token %}
            
            {% bootstrap_form formFechas %}

            {% buttons %}
            <button type="submit" class="btn btn-primary">
            {% bootstrap_icon "ok" %} Ver horarios
            </button>
            <a href="{% url 'viewPista' pista.id %}" class="btn btn-danger" role="button">
            {% bootstrap_icon "chevron-left" %}Volver</a>
            {% endbuttons %}

          </form>
        </div>
      </aside>
    </div>

  </div>
</div>


{% endblock %}


