{% extends "base.html" %}

{% load staticfiles %}
{% load bootstrap3 %}
{% load thumbnail %}
{% load groups %}
{% load static %}

{% block pagetitle %} Horario {{pista.nombre}}{% endblock %}
{% block pageheader %}

<h1>Horario {{pista.nombre}}</h1>

{% endblock %}


{% block pagespecial %}
<div class="container sections-wrapper">
  <div class="row">
    <div class="primary col-md-8 col-sm-12 col-xs-12">
      
        
          {% for dia in horario_pista_dias %}
          <table class="table table-bordered custab">
          <thead>
              <tr>
                  <th class="text-center" colspan="3">{{dia.dia}}</th>
              </tr>
              <tr>
                  <th>Hora</th>
                  <th>Precio</th>
                  <th>Disponibilidad</th>
              </tr>
          </thead>
              {% for franjaHoraria in dic_dias_franjas|get_item:dia.id %}
                <tr>
                    <td>{{franjaHoraria.hora_inicio}} - {{franjaHoraria.hora_fin}}</td>
                    <td>{{franjaHoraria.precio}} €</td>
                    <td class="text-center">{% if franjaHoraria.disponible %} {% bootstrap_icon "ok" %} 
                    {% else %} {% bootstrap_icon "remove" %} {%endif%}</td>
                </tr>
              {% endfor %}
          </table>
          {% endfor %}
              
                
        
    </div>


    
  </div>
</div>


{% endblock %}


