{% extends 'base.html' %}

{% load groups %}

{% load posttools %}
{% load countdown %}
{% load bootstrap3 %}
{% load embed_video_tags %}
{% load humanize %}
{% load thumbnail %}
{% block pagetitle %}{{propuesta.titulo}}{% endblock %}
{% block pageheader %}<h1>{{propuesta.titulo}}</h1>
<h1>{% bootstrap_icon "time" %} {{propuesta.fecha_partido}}</h1>
{% endblock %}
{% block pagebody %}


{% if creador and borrable %}
<div class="row text-center">
	<a class="btn btn-danger" data-toggle="modal" data-dismiss="modal" href="#confirm-delete">{% bootstrap_icon "remove" %} Eliminar</a>
	<div class="modal fade" id="confirm-delete">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">¿Está seguro?</h4>
				</div>
				<div class="modal-body">
					<p>¿Está seguro de querer eliminar la propuesta?</p>
				</div>
				<div class="modal-footer">
					<div class="pull-right">
						<a href="{% url 'deletePropuesta' propuesta.id %}" class="btn btn-danger">{% bootstrap_icon "remove" %} Eliminar</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endif %}
<div class="row">
	<div class="col-md-7">

		<p><strong>Creada por: </strong> <a href="{% url 'viewPerfil' propuesta.creador.user.username %}">@{{propuesta.creador.user.username}}</a> ({{propuesta.creador.nombre}} {{propuesta.creador.apellidos}})</p>

		{% if propuesta.descripcion %}
		<p><strong>Descripción: </strong> {{propuesta.descripcion|linebreaksbr}}</p>
		{% endif %}

		{% if propuesta.sitio %}
		<p><strong>Sitio: </strong> {{propuesta.sitio}}</p>
		{% endif %}

		<p><strong>Participantes: </strong></p>
		<div>
			<div class="participante">
					<div>
						<a href="{% url 'viewPerfil' propuesta.creador.user.username %}"><img class="img-circle" src="{%thumbnail propuesta.creador.foto_perfil|default:'default_profile.png' 100x100 crop %}" alt="@{{propuesta.creador.user.username}}"></a>
					</div>
					<div><a href="{% url 'viewPerfil' propuesta.creador.user.username %}">@{{propuesta.creador.user.username}}</a></div>
				</div>
			{% if participantes %}
			
				{% for participante in participantes %}
				<div class="participante">
					<div>
						<a href="{% url 'viewPerfil' participante.jugador.user.username %}"><img class="img-circle" src="{%thumbnail participante.jugador.user.jugador.foto_perfil|default:'default_profile.png' 100x100 crop %}" alt="@{{participante.jugador.user.username}}"></a>
					</div>
					<div><a href="{% url 'viewPerfil' participante.jugador.user.username %}">@{{participante.jugador.user.username}}</a></div>
				</div>
				{% endfor %}
			{% endif %}


			{% if fecha_limite_futura and participantes.count < 3 and not creador and not participante %}
				<div class="participante">
					<div>
						<a href="{% url 'apuntarsePartido' propuesta.id %}" class="btn btn-success btn-circle">{%bootstrap_icon "plus" %}</a>
					</div>
					<div><a href="{% url 'apuntarsePartido' propuesta.id %}">Unirse</a></div>
				</div>
			{% endif %}


		</div>
	</div>
	
	
	<div class="col-md-5 text-center">
	{% if fecha_limite_futura and participantes.count < 3 %}
		<div class="alert">
			<p><strong>Fecha límite inscripción: </strong> {{propuesta.fecha_limite}}</p><br>
			{% countdown "countdown-propuesta" %}
		</div>
	{% endif %}
	</div>
	
</div>



{% if fecha_limite_futura and participantes.count < 3 %}
<script type="text/javascript">
	initializeClock('countdown-propuesta', new Date("{{propuesta.fecha_limite.isoformat}}"));
</script>
{% endif %}


{% endblock %}
