{% extends "base.html" %}

{% load staticfiles %}
{% load bootstrap3 %}
{% load thumbnail %}
{% load groups %}
{% load static %}

{% block pagetitle %} Horario {{horario.nombre}}{% endblock %}
{% block pageheader %}

<h1>Horario {{horario.nombre}}</h1>


{% if editable %}
  <div class="profile-content pull-right">

  <a class="btn btn-danger" href="#delete-horario" data-toggle="modal" data-dismiss="modal">{% bootstrap_icon "remove" %} Eliminar Horario</a>



  <div class="modal fade" id="delete-horario">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title">¿Está seguro?</h4>
              </div>
              <div class="modal-body">
                  <h5>¿Está seguro de querer borrar este Horario?</h5>
              </div>
              <div class="modal-footer">
                 
                      <a href="{% url 'deleteHorario' horario.id %}" class="btn btn-danger" >{% bootstrap_icon "remove" %} Eliminar </button></a>
                      <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                  
              </div>
          </div>
      </div>
  </div>
</div>
{% endif %}

{% endblock %}


{% block pagespecial %}
<div class="container sections-wrapper">
  <div class="row">
    <div class="primary col-md-8 col-sm-12 col-xs-12">
      <table class="table table-bordered custab">
        <thead>
            <tr>
                <th style="background-color: #E6E6E6">Hora</th>
                <th class="text-center" style="background-color: #E6E6E6">Precio</th>
                <th style="background-color: #E6E6E6" class="text-center">Disponibilidad</th>
            </tr>
        </thead>
          {% for franja in franjasHorarias %}
                <tr>
                    <td><h5>{{franja.hora_inicio}} - {{franja.hora_fin}}</h5></td>
                    <td class="text-center"><h5>{{franja.precio}} €</h5></td>
                    <td class="text-center">{% if franja.disponible %} <h4>{% bootstrap_icon "ok" %}</h4> 
                    {% else %} <h4 style="color:red;">{% bootstrap_icon "remove" %}</h4> {%endif%}</td>
                </tr>
                
          {% endfor %}
                
        </table>

        <button class="btn btn-danger" onClick="window.history.back();return false;">
          {% bootstrap_icon "chevron-left" %} Volver
        </button>
    </div> 
  </div>
</div>


{% endblock %}


