
/*.intro-header {
    background: url(../img/intro-bg.jpg) no-repeat center center;
    background-size: cover;
}*/

.intro-message {
    position: relative;
}

.intro-message > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.intro-message > h3 {
    text-align: center;
    margin: 0px;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}


@media(max-width:767px) {
    .intro-message {
        padding-bottom: 15%;
    }

    .intro-message > h1 {
        font-size: 3em;
    }

    .intro-divider {
        width: 100%;
    }
}