
body{
  background-color: #f5f8fa;
  padding-top: 25px;
  padding-bottom: 70px;
}

.navbar-default .navbar-nav > li > a {
  color : #000000;
}
.navbar-brand {
    padding: 9px 15px;
}

footer {
  background-color: #f8f8f8;
}

.navbar-fixed-bottom {
  border-top: 1px double #e7e7e7;
}

li a {
    color: green;
}

.thelogo2 {
  background-color: rgba(255,0,0,0.5);
  border-radius: 8px;
}

header .header-content {
  position: relative;
  text-align: center;
  padding: 50px 15px 0px;
  width: 100%;
}
header .header-content .header-content-inner {
  padding: 20px 0px 20px;
}
header .header-content .header-content-inner h1 {
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0;
}
header .header-content .header-content-inner hr {
  margin: 30px auto;
}
header .header-content .header-content-inner p {
  font-weight: 300;
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
}
@media (min-width: 768px) {
  header .header-content .header-content-inner {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
  header .header-content .header-content-inner p {
    font-size: 18px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

/* ======= Header Profile ======= */

.profile-head {
    background-repeat: no-repeat, repeat, repeat, repeat, no-repeat;
    background-position: right top, right top, right top, right top, center center;    
    background-size: 100%, 128px, 256px, 4px, cover;    
    background-clip: inherit;
    padding: 20px 0px 20px 20px;
}

.header .profile-content {
  color: white;
}
.header {
  padding: 20px 0;
  background: #f5f5f5;
  border-top: 10px solid #778492;
  padding-bottom: 0px;
}
.header .btn {
  margin-top: 60px;
  font-weight: bold;
}
.header .profile-image {
  margin-right: 30px;
}
.header .profile-content .name {
  color: #49515a;
  font-size: 38px;
  margin-bottom: 5px;
  margin-top: 30px;
}
.header .profile-content .desc {
  color: #778492;
  font-family: "Lato", arial, sans-serif;
  font-weight: 400;
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 15px;
}
.header .profile-content .social a {
  background: #b0b7bf;
  width: 36px;
  height: 36px;
  display: inline-block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  color: #fff;
  text-align: center;
}
.header .profile-content .social a:hover {
  background: #778492;
}
.header .profile-content .social a .fa {
  font-size: 20px;
  padding-top: 8px;
}
.form-group.required .control-label:after {
    content:"*";
    color:red;
}

.thelogo2 {
  background-color: rgba(255,255,255,0.5);
  border-radius: 8px;
}

.profile > .container {
  width:100%;
}
/* ======= */

/* ======= Sections======= */
.sections-wrapper {
  padding-top: 16px;
  padding-bottom: 60px;
}
.section {
  margin-bottom: 30px;
}
.section .section-inner {
  background: #fff;
  padding: 30px;
  border-radius:5px;
}
.section .heading {
  margin-top: 0;
  margin-bottom: 30px;
  color: #545e69;
  font-size: 24px;
}
.section .content .more-link .fa {
  margin-right: 5px;
  font-size: 14px;
}
/* ======= */


/* ======= Upload buttons ======= */
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
/* ======= */

.countdown {
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
}

.countdown > div{
    padding: 10px;
    border-radius: 3px;
    background: #0099FF;
    display: inline-block;
}

.countdown div > span{
    padding: 15px;
    border-radius: 3px;
    background: #0099FF;
    display: inline-block;
}

.participante {
  float: left;
  margin: 15px;
  text-align: center;
}

.participante > div {
  padding-top: 5px;
}

.btn-circle {
  width: 100px;
  height: 100px;
  text-align: center;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 3.2;
  border-radius: 50%;
  
}

.message {
    width:70%;
    margin-left:15%;  
}

.smalltext{
    padding-top: 5px;
    font-size: 16px;
}


}