{% extends "base.html" %}

{% load static %}
{% load bootstrap3 %}
{% load thumbnail %}
{% load groups %}
{% load posttools %}
{% load humanize %}
{% block pagetitle %}{{show_user.user.username}} - Perfil{% endblock %}
{% block noheader %}

<header class="header">
<div class="profile-head" style="background-image:url({%if show_user.foto_cabecera%} {{show_user.foto_cabecera.url}}{%else%}{%static "images/default_header.png"%}{%endif%})">
  <div class="container">
      <img title="profile picture" class="profile-image img-responsive pull-left img-circle" src="{% thumbnail show_user.foto_perfil|default:'default_profile.png' 140x140 crop %}">
      <div class="profile-content pull-left">
        <h1>{{ show_user.nombre }} {%if show_user.user|has_group:"Jugadores" %} {{show_user.apellidos}} {% endif %}</h1>
        <h4>@{{ show_user.user.username }}</h4>
        <h4>{%if show_user.user|has_group:"Empresas" %} {% bootstrap_icon "map-marker" %} {{show_user.direccion}} {% endif %}</h4>
      </div>
      {% if request.user.is_authenticated %}
      <div class="btn-group pull-right">
        {% if editable %}
          <a class="btn btn-warning" href="{% url 'editPerfil' %}">{% bootstrap_icon "pencil" %} Editar perfil</a>
        {% endif %}

        {% if request.user != show_user.user %}
          {% if not show_user.user|is_followed:request.user %}
          <a href="{% url 'seguirUsuario' show_user.user.username %}" class="btn btn-success ">{%bootstrap_icon "star" %} Seguir</a>
          {% else %}
          <a href="{% url 'dejarSeguirUsuario' show_user.user.username %}" class="btn btn-warning ">{%bootstrap_icon "remove" %} Dejar de seguir</a>
          {% endif %}
        {% endif %}

        
      </div>
      {% endif %}
  </div>
</div>
</header>
{% endblock %}





{% block pagespecial %}
<div class="container sections-wrapper">
  <div class="row">
    <div class="primary col-md-8 col-sm-12 col-xs-12">
      <section class="about section">
        <div class="section-inner">
          
          {% if editable %}
          <div class="panel panel-default">
            <div class="panel-heading"><strong>Nuevo post</strong></div>
            <div class="panel-body">
              <form id='form' enctype="multipart/form-data" method='post' action='{% url 'createPost' %}'>
              {% csrf_token %}
                {% bootstrap_form postform %}
                {% buttons %}
                <button type="submit" class="btn btn-primary">
                {% bootstrap_icon "plus" %} Crear post
                </button>
                {% endbuttons %}
              </form>
            </div>
          </div>
          {% endif %}

          <br>
          <h2>Publicaciones ({{show_user.user.post_set.count|intword}} posts)</h2>
          {% for post in posts %}
            {%postview post request.user%}
          {% endfor %}
          {% if posts %}
            <center>{% bootstrap_pagination posts %}</center>
          {%else%}
            <center><h4>{{show_user.nombre}} no ha publicado ningún post todavía.</h4></center>
          {% endif %}
          
        </div>
      </section>
    </div>
    <div class="secondary col-md-4 col-sm-12 col-xs-12">

      <aside class="section">
        <div class="section-inner">
        <div class="panel panel-default">
            <div class="panel-heading"><strong>Datos usuario</strong></div>
            <div class="panel-body">
              <ul class="list-unstyled">

                <li> <h4> {{ show_user.nombre }}{%if show_user.user|has_group:"Jugadores" %} {{show_user.apellidos}} {% endif %} </h4></li>

                <li><strong>{% bootstrap_icon "user" %}</strong> @{{ show_user.user.username }}</li>
                
                {%if show_user.user|has_group:"Jugadores" %} 
                  <li><strong>{% bootstrap_icon "calendar" %}</strong> {{ show_user.fecha_nacimiento }}</li>
                  <li><strong>{% bootstrap_icon "certificate" %}</strong> {%if show_user.sexo == 'H'%} Hombre {%else%} Mujer {%endif%}</li>
                  <li><strong>{% bootstrap_icon "map-marker" %}</strong> {{ show_user.localidad }}</li>
                {% endif %}

                <li><strong>{% bootstrap_icon "envelope" %}</strong> {{ show_user.email }}</li>

                <li><strong>{% bootstrap_icon "earphone" %}</strong> {{ show_user.telefono }}</li>

                {%if show_user.descripcion %}
                <br>
                <li><strong>{% bootstrap_icon "book" %}</strong> {{ show_user.descripcion }}</li>
                {%endif%}
                
                {%if show_user.user|has_group:"Empresas" %} 
                <a class="btn btn-primary " href="{% url 'listPistas' show_user.user.id %}">{% bootstrap_icon "list-alt" %} Ver pistas</a>
                {% endif %}

              </ul>
          

              <div class="col-xs-6 col-sm-6 ">
                      <a href="{% url 'viewSeguidores' show_user.user.username %}">
                        <h2><center><strong> {{show_user.user.seguidores.count|intword}} </strong></center></h2>
                        <p><center>Seguidores</center></p>
                      </a>
              </div>
              <div class="col-xs-6 col-sm-6 ">
                    <a href="{% url 'viewSiguiendo' show_user.user.username %}">
                        <h2><center><strong> {{show_user.user.siguiendo.count|intword}} </strong></center></h2>
                        <p><center>Siguiendo</center></p>
                    </a>
              </div>
            </div>
        </div>
        </div>
        </div>
      	
      </aside>
    </div>
  </div>
</div>


{% endblock %}


